<!DOCTYPE html>
<html lang="en">
<head>
  <title>Driver Assistance System</title>
  <meta charset="utf-8">
  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="style.css" />
</head>  
<body>
  <h1>Driver Assistance System</h1>
  <p>The enable button is not visible fow now as the model is loading.</p
>  <section id="demos" class="invisible">
    <p>Click "enable webcam" below when you are ready and allow access to the webcam when the browser asks.Please put your face to the camera, different angle, distance or lighting might affect the model performance.</p>
    <div id="liveView" class="camView">
      <button id="webcamButton">Enable Webcam</button>
      <video id="webcam" autoplay muted width="640" height="480"></video>
    </div>
  </section>
  <form action="/" method="post" onSubmit="return submitForm()">
   <div>
      <label for="district">Please input your district:</label>
      <select name="district" id="district">
        <option value="New Territories">New Territories</option>
        <option value="Kowloon">Kowloon</option>
        <option value="Hong Kong Island">Hong Kong Island</option>
      </select>
     <input type="submit" value= "Submit">
     (Kowloon,Hong Kong Island or New Territories)
   </div>
  </form>
  <script>

function submitForm() {
  if (document.getElementById("district").value == "New Territories") {
    alert("The driver is in a dangerous district.");
  } else if (document.getElementById("district").value == "Kowloon") {
    alert("The driver is in a relatively safe district.");
  } else if (document.getElementById("district").value == "Hong Kong Island") {
    alert("The driver is in the safest district.");
  } else {
    alert("Please enter again.")
  }
}

</script>
  <!-- Import TensorFlow.js library -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
  <!-- Import the page's JavaScript to do some stuff -->
  <script src="script.js" defer></script>
  <!--<script src="app.js" defer></script> -->
  <!--<script src="server.js" defer></script>  -->
  </body>
</html>